<html ng-app="myApp">
    <head>
        <title>Randall Potter : CNN Developer Challenge</title>
        <link rel="stylesheet" type="text/css" href="dist/assets/css/global.min.css"/>
    </head>
    <body ng-controller="appController">

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                    <!-- TWEET WRAPPER START -->
                    <div class="twt-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                CNN Developer Challenge
                            </div>
                            <div class="panel-body">
                                <form name="searchForm" novalidate>
                                    <label for="search" value="Type in a hashtag and click submit.">
                                        <input id="search" type="text" class="form-control" ng-model="searchQuery" placeholder="type search here..." required />
                                        <p ng-show="searchForm.search.$invalid && !searchForm.search.$pristine" class="help-block">A search term is required.</p>
                                        <button type="submit" class="btn" value="search" ng-click="searchTwitter()" ng-disabled="searchForm.$invalid">Search</button>
                                    </label>
                                </form>
                                <hr />
                                <ul class="media-list">

                                    <li class="media" ng-repeat="tweet in tweets">
                                        <a href="#" class="pull-left">
                                            <img src="{{tweet.user.profile_image_url}}" alt="" class="img-circle">
                                        </a>
                                        <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">{{tweet.created_at}}</small>
                                        </span>
                                            <strong class="text-success">{{tweet.user.screen_name}}</strong>
                                            <p>
                                                {{tweet.text}}
                                            </p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- TWEET WRAPPER END -->
                </div>
            </div>
        </div>

        <script src="dist/assets/js/angular.min.js"></script>
        <script src="dist/assets/js/angular-resource.min.js"></script>
        <script src="dist/assets/js/main.min.js"></script>

    </body>
</html>